{% extends 'base.html' %}
{% block custom_container %}
    <div class="homepage">
        <h2>Поиск работы и работников</h2>

        <div>
            <h2>Топ 3 вакансии</h2>
                {% for v in vacancies %}
                    <div><a href="{% url 'vacancy-info' v.id %}">{{ v.title }}></a></div>
                {% endfor %}
        </div>
        <div>
            <h2>Топ 3 вакансии</h2>
                {% for v in companies %}
                <div><a href="{% url 'company-info' v.id %}">{{ v.name_company }}</a>- {{ v.address }} - {{ v.count_staff }}</a></div>
                {% endfor %}
        </div>

    </div>
{% endblock %}